<%= form_for @song do |f| %>
  <div>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :released, "Released?" %>
    <%= f.check_box :released %>
  </div>

  <div>
    <%= f.label :release_year, "Year:" %>
    <%= f.number_field :release_year %>
  </div>

  <div>
    <%= f.label :genre, "Genre:" %>
    <%= f.text_field :genre %>   
  </div>
  
  <div>
    <%= f.label :artist_name, "Artist:" %>
    <%= f.text_field :artist_name %>   
  </div>

  <%= f.submit %>
<% end %>